In [1]:
import pandas as pd

In [7]:
data1={"EMPID":["EM1","EM2","EM9","EM4","EM5","EM10"],
    "Name":["ABC","DEF","GHI","JKL","MNO","PQR"],
    "Age":[21,34,56,23,43,32]}

data2={"EMPID":["EM1","EM42","EM3","EM21","EM5","EM6"],
    "SALARY":[20000,34000,43000,23000,12000,24000]}

d1=pd.DataFrame(data1)
d2=pd.DataFrame(data2)
print(d1)
print()
print(d2)

  EMPID Name  Age
0   EM1  ABC   21
1   EM2  DEF   34
2   EM9  GHI   56
3   EM4  JKL   23
4   EM5  MNO   43
5  EM10  PQR   32

  EMPID  SALARY
0   EM1   20000
1  EM42   34000
2   EM3   43000
3  EM21   23000
4   EM5   12000
5   EM6   24000

In [11]:
Data=pd.merge(d1,d2, on="EMPID",how="inner")
print(Data)

  EMPID Name  Age  SALARY
0   EM1  ABC   21   20000
1   EM5  MNO   43   12000

In [9]:
Data=pd.merge(d1,d2, how='left')
print(Data)

  EMPID Name  Age   SALARY
0   EM1  ABC   21  20000.0
1   EM2  DEF   34      NaN
2   EM9  GHI   56      NaN
3   EM4  JKL   23      NaN
4   EM5  MNO   43  12000.0
5  EM10  PQR   32      NaN

In [10]:
Data=pd.merge(d1,d2, how='right')
print(Data)

  EMPID Name   Age  SALARY
0   EM1  ABC  21.0   20000
1  EM42  NaN   NaN   34000
2   EM3  NaN   NaN   43000
3  EM21  NaN   NaN   23000
4   EM5  MNO  43.0   12000
5   EM6  NaN   NaN   24000

In [12]:
Data=pd.merge(d1,d2, how='outer')
print(Data)

  EMPID Name   Age   SALARY
0   EM1  ABC  21.0  20000.0
1  EM10  PQR  32.0      NaN
2   EM2  DEF  34.0      NaN
3  EM21  NaN   NaN  23000.0
4   EM3  NaN   NaN  43000.0
5   EM4  JKL  23.0      NaN
6  EM42  NaN   NaN  34000.0
7   EM5  MNO  43.0  12000.0
8   EM6  NaN   NaN  24000.0
9   EM9  GHI  56.0      NaN

In [15]:
Data_con=pd.concat([d1,d2])
print(Data_con)

  EMPID Name   Age   SALARY
0   EM1  ABC  21.0      NaN
1   EM2  DEF  34.0      NaN
2   EM9  GHI  56.0      NaN
3   EM4  JKL  23.0      NaN
4   EM5  MNO  43.0      NaN
5  EM10  PQR  32.0      NaN
0   EM1  NaN   NaN  20000.0
1  EM42  NaN   NaN  34000.0
2   EM3  NaN   NaN  43000.0
3  EM21  NaN   NaN  23000.0
4   EM5  NaN   NaN  12000.0
5   EM6  NaN   NaN  24000.0