### 6️⃣ dropna() ka use karke missing values remove karo.

In [57]:
import pandas as pd

In [66]:
df = pd.read_excel(r"C:\Users\evilk\Downloads\sample_missing_values.xlsx")
print(df)

    Name   Age     City
0   Amit  25.0    Delhi
1   Riya   NaN   Mumbai
2  Sohan  30.0  Kolkata
3   Neha  28.0      NaN
4    NaN  22.0  Chennai

In [64]:
print(df.dropna())
print(df['Age'].mean())

    Name   Age     City
0   Amit  25.0    Delhi
2  Sohan  30.0  Kolkata
26.25

### 7️⃣ fillna() ka use karke missing values ko mean se replace karo.

In [67]:
df['Age']=df['Age'].fillna(df['Age'].mean())
print(df)

    Name    Age     City
0   Amit  25.00    Delhi
1   Riya  26.25   Mumbai
2  Sohan  30.00  Kolkata
3   Neha  28.00      NaN
4    NaN  22.00  Chennai

### 8️⃣ DataFrame me kisi column ka data type change karo (int → float).

In [69]:
df['Age']=df["Age"].astype(int)
print(df)

    Name  Age     City
0   Amit   25    Delhi
1   Riya   26   Mumbai
2  Sohan   30  Kolkata
3   Neha   28      NaN
4    NaN   22  Chennai

### Kisi numerical column pe sorting apply karo (ascending=False).

In [83]:
df_sorted=df.sort_values(by="Age",ascending=True)
print(df_sorted)
print("--------------")
df_sorted=df.sort_values(by="Age",ascending=False)
print(df_sorted)

    Name  Age     City
4    NaN   22  Chennai
0   Amit   25    Delhi
1   Riya   26   Mumbai
3   Neha   28      NaN
2  Sohan   30  Kolkata
--------------
    Name  Age     City
2  Sohan   30  Kolkata
3   Neha   28      NaN
1   Riya   26   Mumbai
0   Amit   25    Delhi
4    NaN   22  Chennai

### 5️⃣ groupby() ka use karke kisi categorical column pe analysis karo.

In [84]:
grp=pd.read_excel(r"C:\Users\evilk\Downloads\sample_sales_data.xlsx")
print(grp)

    Order ID     Category  Sales  Quantity       City
0       1001  Electronics    500         2      Delhi
1       1002     Clothing    200         5     Mumbai
2       1003    Furniture    750         3  Bangalore
3       1004  Electronics    600         1    Chennai
4       1005     Clothing    250         4    Kolkata
5       1006  Electronics    520         2      Delhi
6       1007     Clothing    180         6     Mumbai
7       1008    Furniture    710         3  Bangalore
8       1009  Electronics    630         2    Chennai
9       1010     Clothing    270         5    Kolkata
10      1011  Electronics    540         3      Delhi
11      1012     Clothing    190         7     Mumbai
12      1013    Furniture    730         2  Bangalore
13      1014  Electronics    620         1    Chennai
14      1015     Clothing    260         4    Kolkata
15      1016  Electronics    510         2      Delhi
16      1017     Clothing    210         6     Mumbai
17      1018    Furniture    740         3  Bangalore
18      1019  Electronics    610         2    Chennai
19      1020     Clothing    280         5    Kolkata

In [100]:
grp1=grp.groupby("Category").agg({'City':'count'})
print(grp1)

             City
Category
Clothing        8
Electronics     8
Furniture       4

In [99]:
grp2=grp.groupby(["Category","City"]).agg({'Sales':'max'})
print(grp2)

                       Sales
Category    City
Clothing    Kolkata      280
            Mumbai       210
Electronics Chennai      630
            Delhi        540
Furniture   Bangalore    750