### 6Ô∏è‚É£ Ek DataFrame banao jisme Name, Age, City columns ho aur 5 rows ho.

In [25]:
import pandas as pd

In [26]:
data ={
        "Name":["abc","efg","ijk","lmn","opq"],
        "Age":[12,34,53,13,14],
        "City":["Kolata","Delhi","Mumbai","Chennai","Bihar"]
}
df=pd.DataFrame(data)
print(df)

  Name  Age     City
0  abc   12   Kolata
1  efg   34    Delhi
2  ijk   53   Mumbai
3  lmn   13  Chennai
4  opq   14    Bihar

### 7Ô∏è‚É£ read_csv() ka use karke kisi CSV file ko load karo.

In [27]:
CSV=pd.read_csv(r"C:\Users\evilk\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
print(CSV)

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
0      2023                     Level 1                99999
1      2023                     Level 1                99999
2      2023                     Level 1                99999
3      2023                     Level 1                99999
4      2023                     Level 1                99999
...     ...                         ...                  ...
50980  2013                     Level 3                 ZZ11
50981  2013                     Level 3                 ZZ11
50982  2013                     Level 3                 ZZ11
50983  2013                     Level 3                 ZZ11
50984  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
0                  All industries  Dollars (millions)           H01
1                  All industries  Dollars (millions)           H04
2                  All industries  Dollars (millions)           H05
3                  All industries  Dollars (millions)           H07
4                  All industries  Dollars (millions)           H08
...                           ...                 ...           ...
50980  Food product manufacturing          Percentage           H37
50981  Food product manufacturing          Percentage           H38
50982  Food product manufacturing          Percentage           H39
50983  Food product manufacturing          Percentage           H40
50984  Food product manufacturing          Percentage           H41

                                         Variable_name      Variable_category  \
0                                         Total income  Financial performance
1      Sales, government funding, grants and subsidies  Financial performance
2                    Interest, dividends and donations  Financial performance
3                                 Non-operating income  Financial performance
4                                    Total expenditure  Financial performance
...                                                ...                    ...
50980                                      Quick ratio       Financial ratios
50981              Margin on sales of goods for resale       Financial ratios
50982                                 Return on equity       Financial ratios
50983                           Return on total assets       Financial ratios
50984                            Liabilities structure       Financial ratios

        Value                             Industry_code_ANZSIC06
0      930995  ANZSIC06 divisions A-S (excluding classes K633...
1      821630  ANZSIC06 divisions A-S (excluding classes K633...
2       84354  ANZSIC06 divisions A-S (excluding classes K633...
3       25010  ANZSIC06 divisions A-S (excluding classes K633...
4      832964  ANZSIC06 divisions A-S (excluding classes K633...
...       ...                                                ...
50980      52  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50981      40  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50982      12  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50983       5  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50984      46  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[50985 rows x 10 columns]

### 8Ô∏è‚É£ df.info() aur df.describe() ka use karke dataset ka overview dekho.

In [28]:
print(CSV.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50985 entries, 0 to 50984
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         50985 non-null  int64
 1   Industry_aggregation_NZSIOC  50985 non-null  object
 2   Industry_code_NZSIOC         50985 non-null  object
 3   Industry_name_NZSIOC         50985 non-null  object
 4   Units                        50985 non-null  object
 5   Variable_code                50985 non-null  object
 6   Variable_name                50985 non-null  object
 7   Variable_category            50985 non-null  object
 8   Value                        50985 non-null  object
 9   Industry_code_ANZSIC06       50985 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB
None

In [29]:
print(CSV.describe())

               Year
count  50985.000000
mean    2018.000000
std        3.162309
min     2013.000000
25%     2015.000000
50%     2018.000000
75%     2021.000000
max     2023.000000

### 9Ô∏è‚É£ DataFrame me kisi specific column ko extract karo.

In [30]:
print(df["Name"])
print(df["Age"])

0    abc
1    efg
2    ijk
3    lmn
4    opq
Name: Name, dtype: object
0    12
1    34
2    53
3    13
4    14
Name: Age, dtype: int64

### üîü iloc aur loc ka use karke specific rows aur columns access karo.

In [40]:
df=pd.DataFrame(data,index=['a','b','c','d','e'])
print(df.loc['b','Age'])
print(df.iloc[1])

34
Name      efg
Age        34
City    Delhi
Name: b, dtype: object